# SemanticBGKOctoMap config

# Map topic, grid cell mininum resolution
topic: /occupied_cells_vis_array
resolution: 0.1
block_depth: 3 # Test-data octree depth (see Wang & Englot ICRA 2016)

# Kernel parameters
sf2: 10.0 # Actually sigma_0 in sparse kernel
ell: 0.3 # Length scale of the sparse kernel

# Sampling resolutions
free_resolution: 0.5 # Free space sampling resolution
ds_resolution: 0.1 # Downsampling factor

# Free/Occupied Thresholds
free_thresh: free_thresh
occupied_thresh: 0.7
var_thresh: 0.09 # Threshold on variance to distinguish known/unknown

# BGK Inference class prior pseudocounts
prior: 0.001 # each class
