<launch>
    <arg name="pkg" default="$(find semantic_bki)" />
    <arg name="method" default="semantic_bki"/>
    <arg name="dataset" default="semantickitti"/>
   
    <arg name="method_config" value="$(arg pkg)/config/methods" />
    <arg name="data_config" value="$(arg pkg)/config/datasets/" />

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find semantic_bki)/rviz/semantickitti_node.rviz" />
    <node pkg="semantic_bki" type="semantickitti_node" name="semantickitti_node" output="screen">

        <param name="dir" value="/home/ganlu/Datasets/RAL2019/kitti/dataset/sequences/04/" />

        <!-- Load method configuration from file -->
        <rosparam file="$(arg method_config)/$(arg method).yaml" command="load" />

        <!-- Load dataset configuration from file -->
        <rosparam file="$(arg data_config)/$(arg dataset).yaml" command="load" />
        
    </node>

</launch>
